.Sectionone {
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 48px;
  font-family: Ubuntu;
  font-size: 32px;
  font-weight: 700;
  line-height: 36.77px;
  text-align: left;
}
.name{
    color: #FFFf;
    margin-bottom: 1rem;
}

.herosection{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #626262;
    border-radius: 15px !important;
    height: 269px;
    /* z-index: 10; */

}



@media only screen and (max-width: 754px) {
    .herosection{
        flex-direction: column;
        height: auto;
    }
    
}