.cancel{
width: 37px;

height: 37px;
border-radius: 15px !important;
background: #FF3E3E;
/* z-index: 10; */
display: flex;
align-items: center;
border-style: none;
justify-content: center;
cursor: pointer;

}

.icon{
    background: #FF3E3E;
    color: #FFFFFF;
    text-align: center;
    box-shadow: 0px 4px 4px 0px #00000040;

}

.secondary{
   color: #F4BB4A !important;
}